
  <div class="content-fluid text-center">
  {{#if empty}}
    <p>Ei vielä kojelautoja!</p>
  {{else}}
    {{log model}}
    {{#each model as |dash|}}
    {{#link-to 'editor.dashboard' dash.id}}{{dash.name}}{{/link-to}}
    <br>
    {{/each}}
  {{/if}}
  <br/><br/>  
  {{#link-to 'editor.new'}}Luo uusi kojetaulu{{/link-to}}
  </div>
{{outlet}}
