{{!-- Luodaan valikko sivun yläreunaan --}}
{{navigation-tabs route=currentRoute}}

<div class="content-fluid text-center">
{{#if session.isAuthenticated}}
    Authenticated
{{else}}
    <button type="button" class="btn btn-primary text-center m-auto" onclick={{action "login"}}>Kirjaudu sisään Facebookilla</button>
{{/if}}


{{outlet}}
</div>