
<div class="content-fluid text-center">
  <h4>{{model.name}}</h4>
  {{#each model.pages as |page|}}
  {{#link-to 'editor.dashboard.page' page.id}}{{page.name}}{{/link-to}}
  <br>
  {{/each}}
<br>
{{#link-to 'editor.dashboard.page.new' }}Luo uusi sivu{{/link-to}}
</div>
{{outlet}}