<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    {{#each pages as |page|}}
      
      {{#if page.current}}
        <li class="nav-item active">
          {{#link-to page.route class="nav-link"}}{{page.text}}{{/link-to}}
        </li>
      {{else}}
        <li class="nav-item">
          {{#link-to page.route class="nav-link"}}{{page.text}}{{/link-to}}
        </li>
      {{/if}}
      
    {{/each}}
  </ul>
</nav>

{{yield}}