<div class="content-fluid text-center">
  <h4>Uusi komponentti</h4>
  <label for="name">Nimi</label>
  {{input type="text" value=name name="name" placeholder="Nimi" class="form-control"}}
<button type="button" class="btn btn-primary" {{action "saveComponent"}}>Tallenna</button>
</div>

{{outlet}}